* {
    font-family: 'Poppins', sans-serif !important;
}

.container-catalog {
    max-width: 1080px;
}

.header-categories {
    background-color: white;
    padding: 12px 0;
    top: 0;
    position: sticky;
    z-index: 1;
}

.line-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}