.form-control-textarea {
    resize: none;
}

.btn-submit {
    border-radius: 43px;
    border-color: #00B207;
    background: #00B207;
    color: #FFF;
    font-size: .85rem;;
    font-weight: 600;
    line-height: 120%;
    width: 40%;
    margin-top: 1rem;
}

.display-on-error-complaints {
    display: none;
}

.display-on-success-complaints {
    display: none;
}

@media screen and (max-width: 550px) {
    .btn-submit {
        width: 60%;
    }
}