
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-home-client {
    padding: 44px 130px;
}

.column-title {
    margin-top: 6rem;
}

.column-btn {
    margin-top: 5rem;
}

.btn-modal {
    background-color: #ffffffd6;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .24);
    outline: none;
    border: none #ffffffd6;
}

.cevicheria-name {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    text-align: left;
    margin-left: 8px;
    color: #FA5733;
}

.section-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-left: 8px;
    color: black;
}

.custom-button {
    width: 65%;
    background-color: #FFB84F;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    letter-spacing: .017em;
    color: #ffffff;
    outline: none;
    border: none;
    transition: transform 0.7s ease;
}

.btn-like {
    display: inline-block;
}

.btn-like:hover {
    background-color: #ffece8;
    border-radius: 8px;
}

.custom-button:hover {
    background-color: #ecb363;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
