* {
    font-family: 'Poppins', sans-serif;
}

.side-bar {
    width: 1024px;
}

.side-menu {
    width: 15rem;
    min-width: 15rem;
}

.side-bar .side-menu img {
    width: 127px;
    height: 127px;
}

.btn-start {
    padding-left: 2rem;
}

.side-bar .side-menu .btn-start p {
    margin-bottom: 0;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.btn-start:hover {
    background: #e1f1f3;
}

.btn-start:hover {
    cursor: pointer;
}

.header-text {
    font-weight: bold;
    color: #25396F;
}

.content-search {
    width: 300px;
    height: 40px;
    margin-left: 2rem;
}

.content-menu {
    margin: 1.20rem 0;
}

.content-menu h2 {
    color: #25396F;
    font-weight: bold;
    font-size: 1.5rem;
}

.content-menu p {
    font-size: 1rem;
    color: #B0B6C3;
}

.card-body p {
    color: #25396F;
}

.content-menu .row .col-auto a {
    text-decoration: none;
    color: #19777A;
    font-weight: bold;
}

.content-menu2 {
    margin: 1.25rem 0;
    padding: 1.5rem 0.8rem;
}

.most-sold {
    color: #25396F;
    font-weight: bold;
    font-size: 1rem;
}

.year {
    font-size: 0.74rem;
    color: #B0B6C3;
}

